<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Jumply</title>
    <link href="/static/css/default.css?v={{now}}" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>
<body>
<h1>Jumply</h1>

<div class="container">
    <form
            hx-get="/"
            hx-target="#video-list"
            hx-push-url="true"
            hx-trigger="input changed delay:300ms, change">
        <input
                type="text"
                name="search"
                placeholder="🔍 Suche nach Video..."
                value="{{.Search}}"
                class="search-input"
        />

        <label for="sort">Sortieren nach:</label>
        <select name="sort">
            <option value="name" {{if eq .Sort "name"}}selected{{end}}>Name</option>
            <option value="size" {{if eq .Sort "size"}}selected{{end}}>Größe</option>
            <option value="modtime" {{if eq .Sort "modtime"}}selected{{end}}>Geändert am</option>
        </select>

        <select name="order">
            <option value="asc" {{if eq .Order "asc"}}selected{{end}}>↑ Aufsteigend</option>
            <option value="desc" {{if eq .Order "desc"}}selected{{end}}>↓ Absteigend</option>
        </select>
    </form>

    <div id="video-list">
        {{template "video_files_partials.html" .}}
    </div>

    <a href="/reload" class="reload-link">🔄 Rescan Videos</a>
</div>
</body>
</html>